<div id="<%= dom_id product %>">
  <div class="card-body">
    <p class="card-title h6 color-grey">
      <%= product.name %>
    </p>

    <p class="card-text">
      <% if product.images.attached? %>
        <% (product.images).each do |image| %>
          <% if image.image? %>
            <div><%= image_tag (image.representation(resize_to_limit: [100, 100])) if product.images.attached? %></div>
            <div><%= link_to "View picture", rails_blob_path(image, disposition: "preview") %></div>
            <div><%= link_to "Download picture", rails_blob_path(image, disposition: "attachment") %></div>
          <% end %>
        <% end %>
        <br/>
      <% else %>
        <p>No images attached</p>
      <% end %>
      
      <% if product.doc.attached? %>
        <% if product.doc.representable? %>
          <%= image_tag product.doc.representation(resize_to_limit: [100, 100]), class: "border border-secondary" if product.doc.attached? %>
          <div><%= link_to "View document", rails_blob_path(product.doc, disposition: "preview") %></div>
          <div><%= link_to "Download document", rails_blob_path(product.doc, disposition: "attachment") %></div>
        <% else %>
          <%= link_to rails_blob_path(product.doc, disposition: "attachment") do %>
            <%= image_tag "", alt: "Download file" %>
          <% end %>
        <% end %>
      <% else %>
        <p>No doc attached</p>
      <% end %>
    
    </p>
    <p> 
      <%= link_to "Show this product", product %>
    </p>
  </div>
</div>
